section {
    text-align: center;
}

.mat-dialog-actions{
    margin: auto;
    display: block;
}

.btn-primary{
    background-color: lightgray;
    color: white;
}

.btn-disable{
   cursor: not-allowed;
   pointer-events: none;
   background-color: lightgray;
   color: white;
}
