form{

      //width: 30%;
      background: linear-gradient(gray, white);
      padding: 20px;
      border-radius: 10px;
      opacity: 0.8;
      //width: 20px;
      top: 40%;
      left: 40%;
      position: absolute;
      //display: block;
        //margin: auto;
        text-align: center;
}

.fondo {
   //background-image: url("paper.gif");
   background-color: pink !important;
   padding: 20%;
}
