mat-card {
  padding: 10px;
  font-size: 10px;
  //background-color: rgba(250, 250, 207, 1.0);
}

mat-grid-tile{
  padding: 60px;
}

mat-card-title {
    font-size: 16px;
    margin-bottom: 6px;
}

mat-grid-list{
    background-color: rgba(117, 191, 222, 0.3);
}
