button{
  margin : 10px;
  display: block;
  font-style: italic;
}

mat-drawer{
  align-items:center;
  background-color:rgba(117, 191, 222, 0.5);
  width:auto;
}

.boton-principal{
  font-style: normal;
  font-size: 1.4em;
  background-color: #A9C0F4;
  border-radius: 5px;
}
